*.pyc
.cache/
.coverage
.ipynb_checkpoints
*__pycache__*
*.idea*
*.history
scratch/*
./data
./models
.mypy_cache
.vector_cache
**/*.pt
**/*.txt
**/*.tar.gz
experiments/pair2vec/*.json
data/**.*
**/*.npy
**/preprocessed/